.eq {
    white-space: nowrap;
}
.integer {
    font-size: $font-size-big;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.fraction {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: -4px;
}
.fraction > span {
    display: block;
    padding-top: 0.1em;
    font-family: "quicksandmedium";
}
.fraction span.fdn {
    border-top: thin solid black;
}
.fraction span.bar {
    display: none;
}