body {
  margin: 0;
  height: 100vh;
  background-color: #ffffff;
}

:not(.katex) > p {
  font-family: $quicksand-medium;
  font-size: $font-size;
  color: $font-color;
}

:not(.katex) > span {
  font-family: $quicksand-medium;
  font-size: $font-size;
}

.katex {
  font-size: 1.3em;
}

p img {
  padding: 0;
}

table img {
  padding: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
