.opcionradio {
  height: 100%;
  color: #3c3c3c;
}

.opcionradio input[type='radio'] {
  display: none;
}

.opcionradio label {
  display: inline-block;
  cursor: pointer;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 4px solid;
  border-color: #999;
  padding: 8px 20px;
  border-radius: 16px;
  text-align: center;
  font-family: $quicksand-medium;
  font-size: $font-size;
}

.opcionradio input[type='radio']:checked + label {
  background: #fce5d4;
  padding: 8px 20px;
  border-color: #fd9243;
}

.opcionradio-imagen label {
  padding: 0px !important;
}

.opcionradio-imagen label[type='radio']:checked + label {
  padding: 0px !important;
}
