@font-face {
  font-family: $opensans-reg;
  src: url("/fonts/OpenSans-Regular-webfont.woff");
}

@font-face {
  font-family: $varelaround-reg;
  src: url("/fonts/VarelaRound-Regular-webfont.woff");
}

@font-face {
  font-family: $larkeneue-thin;
  src: url("/fonts/LarkeNeueThin.ttf");
}