/*FONTS*/
$quicksand-medium: "quicksandmedium";
$opensans-reg: "opensansreg";
$varelaround-reg: "varelaroundreg";
$larkeneue-thin: "larkeneuethin";

$font-size: 16px;
$font-color: #000000;

/*
HEADER 
SI CAMBIA ESTAS VARIABLAS DEBE MODIFICAR MANUALMENTE LAS RESTAS EN /SECTION/_SECTION.SCSS 
*/
$height-header: 50px;
$margin-bottom-header: 10px;
$margin-bottom-header-md-up: 20px;

/*
FOOTER
SI CAMBIA ESTAS VARIABLAS DEBE MODIFICAR MANUALMENTE LAS RESTAS EN /SECTION/_SECTION.SCSS 
*/
$height-footer: 60px;
$height-footer-md-up: 100px;
